.wd-bookmark{
  color:white;
  position: relative;
  left: 16px;
  top: 12px;
  font-size: 20px;
}

.wd-handler{
  color: lightgray;
  font-size: 13px;
  border-style: solid;
  border-top: lightgray;
  border-radius: 1px;
  position: relative;
  left: 16px;
}

.wd-img{
  float:left;
  position: relative;
  left:13px;
  border-radius: 50%;
  max-height: 48px;
  max-width: 48px;
}

.wd-author{
  float:left;
  position: relative;
  left: 16px;
  color:white;
}

.wd-hander2{
  color:lightgray;
  float:left;
  position: relative;
  left:16px;
}

.wd-paragraph{
  color:white;
  font-size: 15px;
  max-width: 506px;
  position: relative;
  left: 16px;
  top: 12px;
}

.wd-roundimage{
  max-width: 504px;
  max-height: 264px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.wd-boldTitle{
  font-weight: bold;
  font-size: 15px;
  color: white;
}

.wd-lightgreyword{
  font-size:15px;
  color:lightgray;
}
